
    <div class="card m-2 p-2" style="width: 12rem;">
        <img src="@Product.ImageLink" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title"><NavLink Href="@($"product/{Product.ProductId}")">@Product.Name</NavLink></h5>
            <p class="card-text" style="color:darkred">@Product.Price.ToString("c")</p>            
        </div>
    </div>


@code {
    [Parameter]
    public Product Product { get; set; }

}
