@page "/outstandingorders"
@page "/admin" 

@attribute [Authorize]

@inject IViewOutstandingOrderUseCase viewOutstandingOrderUseCase 

<h3>Outstanding Orders</h3>
<br/>
<OrderListComponent Orders="orders"></OrderListComponent>

@code { 

    private IEnumerable<Order> orders;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        orders = viewOutstandingOrderUseCase.Execute();
    }

}
