<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a class="navbar-brand" href="">eShop</a>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link" href="outstandingorders">Outstanding Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="processedorders">Processed Orders</a>
                </li>                
            </Authorized>
        </AuthorizeView>        
        <li class="nav-item ml-auto">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/logout">
                        Sign out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="cart">
                        <CartComponent></CartComponent>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {


}
